@font-face {
    font-family: 'Helvetica Neue';
    src: url('/app/fonts/helvetica-neue/HelveticaNeue-CondensedBlack.woff2') format('woff2'),
    url('/app/fonts/helvetica-neue/HelveticaNeue-CondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/app/fonts/helvetica-neue/HelveticaNeue-Bold.woff2') format('woff2'),
    url('/app/fonts/helvetica-neue/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/app/fonts/helvetica-neue/HelveticaNeue-Light.woff2') format('woff2'),
    url('/app/fonts/helvetica-neue/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/app/fonts/helvetica-neue/HelveticaNeue.woff2') format('woff2'),
    url('/app/fonts/helvetica-neue/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/app/fonts/helvetica-neue/HelveticaNeue-Medium.woff2') format('woff2'),
    url('/app/fonts/helvetica-neue/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
