@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-plex bg-primary;
  }
}

@layer components {
  .center {
    @apply flex justify-center items-center;
  }

  .items-between {
    @apply flex justify-between items-center;
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}

input:-moz-autofill {
  background-color: transparent !important;
}

input:focus {
  background-color: white !important;
}
